body{
    background: white url("image/poll.png") no-repeat;
    background-position : center;
    background-size : 10%;
    height:500px;
    text-position : center;
    border-top : 10px solid #87CEFA;
 }
li a{color: blue;
    text-decoration: none;}

h3,a{
    font-family:'Noto Sans KR'  ;
}


